.budgetShow {
    text-align: center;
    margin: auto;
    padding: 40px;
}
body {
    font-family: Calibri;
}
#expensesForm {
    border-style: solid;
    border-color: forestgreen;
    border-width: 2px;
    display: inline-block;  
    border-radius: 10px;
    margin: 8px;
}
#budgetForm {
    border-style: solid;
    border-color: red;
    border-width: 2px;  
    display: inline-block;
    border-radius: 10px;
    margin: 8px;
}
.blahs {
    margin: 5px;
}
.blahs2 {
    margin: 5px;
}
#bronksGoSTOOOONKSSSS {
    text-align: center;
    display: flex;
    float: right;
}
#errorHandler {
    width: 300px;
    height: 100px;
    background: coral;
    float: left;
    display: none;
    padding: 5px;
    border-radius: 20px;
}
#boisei {
    text-align: center;
    margin: auto;
    padding: 30px;
    float: right;
}
#dabois {
    position: absolute;
    top: 200px;
    left: 540px;
    padding-right: px;
}
#changeBudget {
    color: green;
}
#changeExpenses {
    color: maroon;
}
.reddyboi {
    color: maroon;
}
